[package]
name = "ground-truth"
version = "0.1.0"
edition = { workspace = true }
license = { workspace = true }
repository = { workspace = true }

[lints]
workspace = true

[dependencies]
airlock = { path = "../airlock" }
clap = { workspace = true, features = [
  "std",
  "color",
  "derive",
  "help",
  "wrap_help",
  "usage",
  "error-context",
  "suggestions",
] }
rand = { workspace = true, features = ["std", "std_rng", "thread_rng"] }
rand_distr = { workspace = true }
reqwest = { workspace = true, features = ["json", "zstd", "rustls-tls-native-roots"] }
saluki-config = { workspace = true }
saluki-error = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_yaml = { workspace = true }
stele = { workspace = true }
tokio = { workspace = true, features = ["macros", "rt", "rt-multi-thread"] }
tokio-util = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true, features = [
  "ansi",
  "env-filter",
  "fmt",
  "local-time",
  "registry",
  "std",
  "tracing-log",
] }
treediff = { workspace = true, features = ["with-serde-json"] }
