[package]
name = "panoramic"
version = "0.1.0"
edition = { workspace = true }
license = { workspace = true }
repository = { workspace = true }

[lints]
workspace = true

[dependencies]
airlock = { path = "../airlock" }
argh = { workspace = true }
async-trait = { workspace = true }
bollard = { workspace = true, features = ["time"] }
chrono = { workspace = true }
colored = { workspace = true }
crossterm = { workspace = true, features = ["events"] }
futures = { workspace = true }
rand = { workspace = true, features = ["std", "std_rng", "thread_rng"] }
regex = { workspace = true, features = ["std"] }
saluki-error = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_yaml = { workspace = true }
tokio = { workspace = true, features = ["io-util", "macros", "net", "rt", "rt-multi-thread", "sync", "time"] }
tokio-util = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true, features = [
  "ansi",
  "env-filter",
  "fmt",
  "local-time",
  "registry",
  "std",
  "tracing-log",
] }
url = { workspace = true }
