[package]
name = "millstone"
version = "0.1.0"
edition = { workspace = true }
license = { workspace = true }
repository = { workspace = true }

[lints]
workspace = true

[dependencies]
bytes = { workspace = true }
bytesize = { workspace = true, features = ["serde"] }
lading-payload = { workspace = true }
prost = { workspace = true }
rand = { workspace = true }
saluki-error = { workspace = true }
serde = { workspace = true }
serde_yaml = { workspace = true }
tokio = { workspace = true, features = ["rt-multi-thread"] }
tonic = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true, features = [
  "ansi",
  "env-filter",
  "fmt",
  "local-time",
  "registry",
  "std",
  "tracing-log",
] }
