[package]
name = "check-runner"
version = "0.1.0"
edition = { workspace = true }
license = { workspace = true }
repository = { workspace = true }

[lints]
workspace = true

[features]
default = ["python-checks"]
python-checks = ["saluki-components/python-checks"]

[dependencies]
argh = { workspace = true, features = ["help"] }
async-trait = { workspace = true }
fnv = { workspace = true }
twox-hash = { workspace = true }
memory-accounting = { workspace = true }
saluki-app = { workspace = true }
saluki-components = { workspace = true }
saluki-config = { workspace = true }
saluki-core = { workspace = true }
saluki-env = { workspace = true }
saluki-error = { workspace = true }
saluki-health = { workspace = true }
saluki-metadata = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_yaml = { workspace = true }
stringtheory = { workspace = true }
tokio = { workspace = true, features = [
    "macros",
    "rt",
    "rt-multi-thread",
    "signal",
    "io-std",
] }
tracing = { workspace = true }

[target.'cfg(target_os = "linux")'.dependencies]
tikv-jemallocator = { workspace = true, features = [
    "background_threads",
    "unprefixed_malloc_on_supported_platforms",
    "stats",
] }
