[package]
name = "agent-data-plane"
version = "0.1.26"
edition = { workspace = true }
license = { workspace = true }
repository = { workspace = true }

[lints]
workspace = true

[features]
default = []
fips = ["saluki-app/tls-fips"]
python-checks = ["saluki-components/python-checks"]

[dependencies]
argh = { workspace = true, features = ["help"] }
async-trait = { workspace = true }
bytesize = { workspace = true }
chrono = { workspace = true }
colored = { workspace = true }
comfy-table = { workspace = true }
datadog-protos = { workspace = true }
futures = { workspace = true }
http = { workspace = true }
http-body-util = { workspace = true }
memory-accounting = { workspace = true }
papaya = { workspace = true }
reqwest = { workspace = true, features = [
  "rustls-tls-native-roots-no-provider",
  "json",
] }
saluki-app = { workspace = true }
saluki-common = { workspace = true }
saluki-components = { workspace = true }
saluki-config = { workspace = true }
saluki-context = { workspace = true }
saluki-core = { workspace = true }
saluki-env = { workspace = true }
saluki-error = { workspace = true }
saluki-health = { workspace = true }
saluki-io = { workspace = true }
saluki-metadata = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_yaml = { workspace = true }
stringtheory = { workspace = true }
tokio = { workspace = true, features = [
  "macros",
  "rt",
  "rt-multi-thread",
  "signal",
] }
tonic = { workspace = true }
tracing = { workspace = true }

[target.'cfg(target_os = "linux")'.dependencies]
tikv-jemallocator = { workspace = true, features = [
  "background_threads",
  "unprefixed_malloc_on_supported_platforms",
  "stats",
] }

[build-dependencies]
chrono = { workspace = true }
