# This is a GitHub Action that ensures that the PR titles match the Conventional Commits spec.
# See: https://www.conventionalcommits.org/en/v1.0.0/

name: "Semantic PR Title Check"

on:
  pull_request_target:
    types: [opened, edited, synchronize]
  pull_request:
    types: [opened, edited, synchronize]

jobs:
  main:
    permissions:
      id-token: write
    name: Check For Semantic PR Title
    runs-on: ubuntu-24.04
    steps:
      - name: Get access token from dd-octo-sts
        uses: DataDog/dd-octo-sts-action@acaa02eee7e3bb0839e4272dacb37b8f3b58ba80 # v1.0.3
        id: octo-sts
        with:
          scope: DataDog/saluki
          policy: self.check-pr-title

      - uses: amannn/action-semantic-pull-request@48f256284bd46cdaab1048c3721360e808335d50 # v6.1.1
        env:
          GITHUB_TOKEN: ${{ steps.octo-sts.outputs.token }}
        with:
          requireScope: true
          types: |
            chore
            enhancement
            feat
            fix
            docs
            revert

          scopes: |
            agent-data-plane
            aggregate transform
            airlock
            api
            apm stats transform
            app
            blackhole destination
            buffered incremental encoder
            chained transform
            checks source
            ci
            common
            components
            config
            containerd-protos
            context
            core
            datadog encoder
            datadog forwarder
            datadog-intake
            datadog-protos
            ddsketch
            deps
            dev
            docs
            dogstatsd mapper transform
            dogstatsd prefix filter transform
            dogstatsd source
            dsd stats destination
            env
            error
            ground-truth
            health
            heartbeat source
            host enrichment transform
            host tags transform
            internal metrics source
            io
            memory-accounting
            metadata
            metric router transform
            metrics
            millstone
            otlp decoder
            otlp forwarder
            otlp-protos
            otlp relay
            otlp source
            panoramic
            process-memory
            prometheus destination
            stele
            stringtheory
            tls
            trace obfuscation transform
            trace sampler transform
