name: docs

permissions:
  contents: write

on: push

jobs:
  generate-docs-site:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Set up Node 23
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 23
      - name: Build documentation
        run: |
          yarn install
          yarn run docs:build
      - name: Compress generated documentation assets
        run: tar -C ./docs/.vitepress/dist -c -z -f docs.tar.gz .
      - name: Upload compressed documentation assets
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: docs
          path: docs.tar.gz
  generate-api-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Install Protobuf Compiler
        run: sudo apt-get install -y protobuf-compiler
      - name: Set up Rust Nightly
        uses: actions-rust-lang/setup-rust-toolchain@02be93da58aa71fb456aa9c43b301149248829d8 # v1.15.1
        with:
          toolchain: nightly
          cache: false
          rustflags: ""
      - name: Generate API documentation
        run: |
          ls -l .
          ls -l .cargo/config.toml
          RUSTDOCFLAGS="--enable-index-page -Zunstable-options" cargo +nightly doc --no-deps -Zrustdoc-map --lib
      - name: Compress generated API documentation assets
        run: tar -C ./target/doc -c -z -f api-docs.tar.gz .
      - name: Upload compressed API documentation assets
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: api-docs
          path: api-docs.tar.gz

  publish:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs:
      - generate-docs-site
      - generate-api-docs
    permissions:
      id-token: write
    steps:
      - name: Get access token from dd-octo-sts
        uses: DataDog/dd-octo-sts-action@acaa02eee7e3bb0839e4272dacb37b8f3b58ba80 # v1.0.3
        id: octo-sts
        with:
          scope: DataDog/saluki
          policy: self.docs
      - uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: docs
          path: .
      - uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: api-docs
          path: .
      - name: Create extract directory
        run: mkdir -p /tmp/docs/api-docs
      - name: Uncompress generated documentation assets
        run: tar -C /tmp/docs -x -z -f ./docs.tar.gz && rm ./docs.tar.gz
      - name: Uncompress generated API documentation assets
        run: tar -C /tmp/docs/api-docs -x -z -f ./api-docs.tar.gz && rm ./api-docs.tar.gz
      - name: Publish to Github Pages
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          github_token: "${{ steps.octo-sts.outputs.token }}"
          publish_dir: /tmp/docs
          commit_message: ${{ github.event.head_commit.message }}
          enable_jekyll: false
          allow_empty_commit: false
